<p>
  <%= link_to 'Tests', tests_path %> >
  <%= link_to @test.name.capitalize, tests_path %> >
  <%= @question.title.capitalize %>
</p>
<h3>Question:</h3>
<b><%= @question.title %></b>
<hr>
<p>
  <%= link_to 'New answer',  new_test_question_answer_path(@test, @question), class: 'btn btn-success' %>
</p>
<table class="table table-hover">
  <tr>
    <th>Answer</th>
    <th>Is correct</th>
    <th>Actions</th>
  </tr>

  <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to answer.title, test_question_answer_path(@test, @question, answer) %>
        </td>
        <% checked = "" %>
        <% checked = "checked" if answer.is_correct == true %>
        <td><input type="radio" name="answer"  value="" checked = <%= checked %>></td>
        <td>
          <%= link_to 'Edit', edit_test_question_answer_path(@test, @question, answer), class: 'label label-warning' %>
          <%= link_to 'Delete', test_question_answer_path(@test, @question, answer), class: 'label label-danger',
                      method: :delete,
                      data: {confirm: 'Do you want to remove this answer?'} %>
        </td>
      </tr>
  <% end %>

</table>